@charset "UTF-8";

body{
	font-family:Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	background:#FEC617;
}

#wrapper{
	width:500px;
	margin:0 auto;
}

header{
	position:relative;
	margin-bottom:10px;
	color:#7D5740;
	font-weight:bold;
}

h1{
	padding:40px 0 60px;
	text-align:center;
	font-size:3em;
}

#timer{
	font-size:1.3em;
	position:absolute;
	text-align:center;
	right:0;
	bottom:0;
}

#record{
	font-size:1.3em;
	position:absolute;
	bottom:0;
}

#game{
	position:relative;
}

#numbers div{
	width:99px;
	height:64px;
	padding-top:35px;
	font-size:1.8em;
	font-weight:bold;
	background:#7D5740;
	color:#FEC617;
	margin-right:1px;
	margin-bottom:1px;
	text-align:center;
	float:left;
	cursor:pointer;
}

#numbers div.hit{
	background:#E27C1C;
	color:#FEC617;
}

#startScene{
	position:absolute;
	top:0;
	left:0;
	width:500px;
	height:500px;
	background:#7D5740;
}

#startScene p{
	margin:205px 0 10px;
	text-align:center;
	color:#FEC617;
}

button{
	display:block;
	margin:0 auto;
	border:none;
	color:#FEC617;
	background:#E2681C;
	border-radius:35px;
	font-size:2em;
	font-weight:bold;
	padding:10px 40px;
	cursor:pointer;
	color:#FEC617;
	background:#E27C1C;
}

button:hover{
	color:#E27C1C;
	background:#FEC617;
}

button:focus{
	outline:none;
}
